.search-title {
  font-size: 3.5em;
  font-weight: bold;
  color: var(--primary);
  padding-top: 15vh;
}

.search-result-title {
  padding-bottom: 0.8em;
}

.search-subtitle {
  font-size: 1.35em;
  margin: 0.5em 0;
}

.search-button {
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  z-index: 999;
  margin-left: 15px;
}

.search-button:disabled {
  opacity: 0.5;
}

.search-icon {
  height: 3em;
  width: 3em;
  z-index: 99;
}

.search-input-wrapper {
  display: flex;
  margin: auto;
  position: relative;
  width: fit-content;
}

.search-input-inner-wrapper {
  margin: auto;
  width: 40em;
  position: relative;
  z-index: 999;
}

.search-input {
  width: 100%;
  border-radius: 2em;
  height: 3em;
  margin: 0;
  padding: 0 1em;
  border: var(--lighterGrayType3) 1px solid;
  background-image: none;
  box-sizing: border-box;
  align-self: center;
  box-shadow: var(--boxShadow);
}

.search-input:focus {
  padding: 0 1em;
  border: none;
  background-image: none;
  outline: none;
}

.search-input::placeholder {
  font-size: medium;
  font-weight: 500;
}

.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  right: 0.7em;
  top: 50%;
  bottom: 50%;
}

.reset-icon {
  width: 1.2em;
  height: 1.2em;
  opacity: 0.44;
  z-index: 999;
}

.results-list {
  overflow: hidden;
  max-height: 23.2em;
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  padding: 0;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 20px;
  z-index: -1;
  box-sizing: border-box;
  box-sizing: content-box;
  box-shadow: var(--boxShadow);
}

.results-list-wrapper {
  max-height: 23.2em;
  overflow: auto;
  box-sizing: content-box;
  width: 100%;
}

.show-results-list {
  overflow: none;
  max-height: fit-content;
  width: 50em;
  left: -45%;
  right: -55%;
  box-shadow: none;
}

.result-item {
  width: 100%;
  height: 5.5em;
  margin: 0 auto;
  display: flex;
  border-bottom: var(--lighterGray) 1px solid;
  background-color: var(--shadeOfWhite);
  align-items: center;
}

.result-item:hover {
  background-color: var(--lighterGrayType2);
}

.result-first {
  padding-top: 1em;
}

.show-result-first {
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  margin-top: 2.5em;
}

.result-last {
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border: none;
}

.no-results-message {
  margin: 0 1.3em;
}

.result-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  cursor: pointer;
}

.avatar {
  width: 3.5em;
  height: 3.5em;
  box-sizing: border-box;
  object-fit: contain;
  margin: 0 1.3em;
}

.result-subtitle {
  font-size: smaller;
}

.result-title {
  color: var(--darkPurple);
  font-weight: 900;
}

.error {
  color: var(--gray);
}

.favorite-icon {
  margin-left: auto;
  margin-right: 20px;
  z-index: 999;
  cursor: pointer;
}

.search-value {
  color: var(--black);
  font-weight: bold;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--webkitBoxShadow);
  background-color: var(--lightGray);
}

#style-1::-webkit-scrollbar {
  width: 14px;
  margin: 0 10px;
}

#style-1::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--webkitBoxShadow);
  background: var(--primary);
}

@media (max-width: 750px) {
  .search-title {
    font-size: 2.5em;
  }
  .search-subtitle {
    font-size: 1em;
  }
  .search-input-inner-wrapper {
    width: 29.5em;
  }
  .show-results-list {
    width: 35.5em;
  }
}

@media (max-width: 610px) {
  .search-input-inner-wrapper {
    width: 18em;
  }
  .show-results-list {
    width: 20.5em;
    left: -54%;
    right: -56%;
  }
  .search-button {
    position: absolute;
    right: -6px;
    top: -1px;
  }
  .reset-button {
    left: 190px;
  }
}
