/* .App {
  text-align: center;
  background-image: url("https://img.freepik.com/premium-photo/abstract-geometric-background-with-connecting-points-lines-abstract-black-digital-background-network-concept-big-data-complex-with-compounds-3d-rendering_634443-516.jpg?w=996");
  background-size: cover;
  opacity: 0.95;
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
} */
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.App > img {
  width: 100%;
  height: 100%;
  opacity: 0.45;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

:root {
  --primary: #ac5f5f;
  --darkPurple: #6f1d30;
  --white: #ffffff;
  --shadeOfWhite: #f7f7f7;
  --lighterGray: #d9d9d9;
  --lighterGrayType2: #eeeeee;
  --lighterGrayType3: #f0eaea;
  --lightGray: #a6a6a6;
  --grayRBG: #878787;
  --gray: #4b3f3f;
  --boxShadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --webkitBoxShadow: rgba(0, 0, 0, 0.3);
  --black: #000;
  --yellow: #ed8a19;
}
